.ThreeImageGallery-Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.image-column-1 {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: stretch;
  justify-items: stretch;
  gap: 5px;
}

.image-column-2 {
  height: 100%;
}

.ThreeImageGallery-Wrapper img,
.ThreeImageGallery-Wrapper video {
  width: 100%;
  display: block;
  object-fit: cover;
}

.image-column-1 .top {
  height: 90%;
}

.image-column-1 .bottom-half {
  width: 60%;
  height: auto;
  justify-self: end;
  display: block;
}

.image-column-2 img {
  height: 100%;
}

@media (max-width: 768px) {
  .ThreeImageGallery-Wrapper {
    grid-template-columns: 1fr;
    height: auto;
  }
  .image-column-2 img {
    height: auto;
  }
}
