.basic-image-wrapper {
  padding: 185px;
}

.basic-image-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.basic-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.center-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

.center-text .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin-bottom: 40px;
}

.center-text .text {
  font-size: 14px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin-bottom: 40px;
}

.center-text .basic-image-btn {
  font-size: 15px;
  padding: 13px 32px;
  background-color: #242424;
  text-transform: uppercase;
}

.center-text .basic-image-btn:hover {
  background-color: #000000;
}

@media (max-width: 768px) {
  .basic-image-wrapper {
    padding: 15px;
  }

  .basic-image-container {
    height: 400px;
  }

  .center-text {
    top: 50%;
  }
}
