nav {
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  padding: 0px 90px;
}

.logo img {
  width: 50%;
}

nav ul {
  display: flex;
  width: 80%;
  gap: 40px;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: white;
}

.book-btn {
  background-color: #242424;
  color: white;
  white-space: nowrap;
  border: 0;
  padding: 15px 65px;
}

.book-btn:hover {
  background-color: #000000;
}
