.room-card {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  max-width: 100%;
}

.room-image {
  flex-shrink: 0;
  width: 25%;
  height: auto;
}

.room-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.room-content {
  flex: 1;
}

.room-content h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: "Golos Text", sans-serif;
  font-weight: 200;
}

.room-content a {
  font-family: "Golos Text", sans-serif;
  text-decoration: underline;
  color: #626161;
  font-size: 14px;
}

.room-content p {
  margin-bottom: 1rem;
  font-family: "Golos Text", sans-serif;
}

.room-rate {
  padding-left: 2rem;
  border-left: 1px solid #ccc;
  text-align: center;
  font-family: "Golos Text", sans-serif;
}

.room-rate .price {
  font-weight: bold;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .room-card {
    align-items: center;
    flex-direction: column;
  }

  .room-rate {
    border-left: none;
  }

  .room-image {
    width: 100%;
  }
}
