.CenteredTextBlock-Wrapper {
  display: flex;
  align-content: center;
  padding: 100px;
  margin: 0 250px;
}

.CenteredTextBlock-Wrapper p {
  font-size: 27px;
  text-align: center;
}

@media (max-width: 768px) {
  .CenteredTextBlock-Wrapper {
    padding: 25px;
    margin: 25px;
  }

  .CenteredTextBlock-Wrapper p {
    font-size: 20px;
  }
}
